.Content{
  text-align: left;
  margin-left: 30%;
  margin-right: 20%;
  padding-left: 14%;
  font-size: medium;
  font-style: verdana;
  background-color: rgba(250, 229, 229, 0.1);
  border-radius: 0px;
}
p{
  display: inline-flex;
}

.title{
  margin-right: 14px;
  font-weight: 700;
}
body{
  background-color: rgb(81, 196, 158);
}
.img{
  border-width: 20px;
  border-style: none;
  border-color: rgb(7, 7, 4);
 border-radius: 14px;


}